PORT=3000
NODE_ENV=development
LOG_LEVEL=info

FABRIC_CHANNEL=antasena-channel
FABRIC_CHAINCODE=antasena
FABRIC_CONNECTION_DIR=./connection
FABRIC_WALLET_PATH=./wallet
FABRIC_LOCALHOST=true

JWT_SECRET=please-change-me-in-prod
